.DS_Store
*~
*.*~
\#*\#
\#*.*\#
*.aux
*.log
*.bbl
*.blg
*.brf
*.dvi
*.lof
*.lot
*.nav
*.out
*.snm
*.toc
*.vrb
*.idx
*.ind
*.ilg
*.glg
*.glo
*.ist
*.acn
*.acr
*.alg
*.gls
*.glstex
*.loa
*.loc
*.run.xml
*.bak
*.synctex.gz
*.fdb_latexmk
*.fls
._*
*.dylib
*.so
*.*fasl
*.mod
icat.tex
icat.txt
